@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section head
{
    <link rel="stylesheet" href="~/Content/cardflip.css" />
    <script src="/Scripts/handlebars.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>
}

<style>
    .list-inline {
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 6px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div style="padding: 2px">
                <h3 id="name">User</h3>
                <input type="text" id="usernameTb" class="form-control" />
                <span class="help-block" id="alert">Please enter your name</span>
                <input type="button" id="join" value="join" class="btn btn-primary" />
                <h3>matches</h3>
                <ul id="wins" class="list-inline">

                </ul>
                <div class="col-lg-10" id="board"></div>
            </div>
        </div>
    </div>
</div>

<!--handlebars template -->
<script id="card-template" type="text/x-handlebars-template">
    <div class="row">
        {{#each Pieces}}
        <div id="{{Name}}" class="click panel col-lg-2">
            <div class="front">
                <img src="{{Image}}" width="150" height="150" style="opacity: .125" />
            </div>
            <div class="back">
                <img src="{{Image}}" width="150" height="150"" />
            </div>
        </div>
        {{#endRow @@index}}
      </div>
    <div class="row">
        {{/endRow}}
        {{/each}}
    </div>
</script>

<script type="text/javascript">
    $(function () {
        $('#join').attr('disabled', 'disabled');
        var gameHub = $.connection.gameHub;

        // start hub and enable join button
        $.connection.hub.start().done(function () {
            $('#join').removeAttr('disabled');
        });

        // join button listener
        $('#join').click(function () {
            var userName = $('#usernameTb').val();
            // join the game
            gameHub.server.join(userName);
        })

        // user join 
        var userId;
        gameHub.client.playerJoined = function (user) {
            userid = user.Id;
            $('#usernameTb').attr('disabled', 'disabled');
            $('#join').attr('disabled', 'disabled');
        }

        /*
        * register handlebar helper
        * params, name of the helper and callback
        */
        Handlebars.registerHelper('endRow', function (conditional, options) {
            // tell handlebars if we are at the end of the row
            if ((conditional + 1) % 5 == 0 && conditional > 0) {
                return options.fn(this);
            }
            return "";
        });

        gameHub.client.buildBoard = function (game) {
            // compile template 
            var template = Handlebars.compile($("#card-template").html());
            // render template in the board div
            $("#board").html(template(game.Board));

            if (userId == game.WhosTurn) {
                $("#alert").html("Let's begin the game, you go first!");
            } else {
                $("#alert").html("Let's begin the game, your opponent goes first!");
            }

            $('div[id^=card-]').click(function (e) {
                e.preventDefault();

                var id = this.id;
                var card = $('#' + id);

                if (!card.hasClass('match') && !card.hasClass('flip')) {
                    gameHub.server.flip(id).done(function (result) {
                        if (result) {
                            gameHub.server.checkCard(id);
                        }
                    })
                }
            })
        };

        gameHub.client.flipCard = function (card) {
            var card = $('#card-' + card.Id);
            $(card).addClass('flip');
        }

        gameHub.client.resetFlip = function (cardA, cardB) {
            var cA = $("#card-" + cardA.Id);
            var cB = $("#card-" + cardB.Id);

            var delay = setTimeout(function () {
                cA.removeClass("flip");
                cB.removeClass("flip");
            }, 1500);
        }

        gameHub.client.showMatch = function (card, winner) {
            $("#card-" + card.Id).addClass("match");
            $("#card-" + card.Pair).addClass("match");

            $("#alert").html(winner + " found a match!");
            if (winner == $("#usernameTb").val()) {
                $("#wins").append("<li><img src='" + card.Image + "' width='30' height='30'></li>");
            }
        }

        gameHub.client.waitingList = function () {
            $('#alert').html("No opponent available, waiting ...");
        }

    })
</script>

<div class="modal fade" id="winModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1 id="modal-headline"></h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dissmiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>